.attribution { 
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;

    span {
        margin-bottom: 5px;

        a { 
            color: hsl(228, 45%, 44%); 
        }
    }
}