.title {
    margin-bottom: 3.5rem;

    h3 {
        margin-bottom: 1rem;
    }

    p {
        font-size: 0.8rem;
    }
}


@media (min-width: 755px) {
    .title {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "title_location title_location"
            "p1_location p2_location";
        column-gap: 0;

        h3 {
            grid-area: title_location;
        }

        para_1 {
            grid-area: p1_location;
        }

        para_2 {
            grid-area: p2_location;
            
        }
    }
}