@import "./variables";
@import "./title";
@import "./card";
@import "./footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-image: url("../images/pattern-circles.svg");
}

.container {
    padding: 20% 5%;
}